.container_search {
    width: 30vw;
    margin: 18rem auto 0 auto;

    @include global.media_query('lg') {
        width: 80%;
    }

    @include global.media_query('sm') {
        width: 100%;
    }
}

.not_found {
    width: 25vw;
    margin: 5rem auto 5rem auto;

    h2 {
        font-size: 2.4rem;
        text-align: center;
        margin-bottom: 1.6rem;
    }

    @include global.media_query('lg') {
        width: 60%;
    }

    @include global.media_query('sm') {
        width: 100%;
    }
}