.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    position: fixed;
    top: 0;
    left: 0;
    @include global.flex($justify: center, $align: center);
    z-index: 1000;
    overflow-y: auto;

    .container_modal {
        width: 94.8rem;
        height: 35.2rem;
        position: relative;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(13.5px);
        -webkit-backdrop-filter: blur(13.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        @include global.flex($justify: space-between, $align: center);

        .close_modal {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            cursor: pointer;
        }
    }

    .info_pokemon {
        width: 28rem;
        @include global.flex($direction: column, $justify: center);

        .image_pokemon {
            width: 25.6rem;
            height: 25.6rem;
            position: absolute;
            top: 0;
            left: 16%;
            transform: translate(-50%, -65%);
        }

        .container_info {
            padding-top: 8rem;
            // background-color: red;
            @include global.flex($direction: column, $align: center);
            color: #fff;

            h3 {
                font-size: 2rem;
            }

            h2 {
                font-size: 3.2rem;
            }

            .types_pokemon {
                @include global.flex($gap: 0.8rem, $align: center);
                margin-top: 1rem;
            }

            .details_pokemon {
                @include global.flex($gap: 2rem);
                margin-top: 2rem;

                span {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 150%;
                    @include global.flex($gap: 0.8rem, $align: center);
                }
            }

        }
    }

    .divider {

        img {
            position: relative;
        }

        &::before,
        &::after {
            content: "";
            width: 1px;
            height: 124px;
            background-color: #ffffff31;
            display: block;
            position: absolute;
            left: 36%;
            transform: translate(-50%, -50%);

        }

        &::before {
            top: 64px;
        }

        &::after {
            bottom: -64px;
        }
    }

    .pokemon_stats {
        width: 58%;
        @include global.flex($direction: column, $gap: 1.6rem);
        color: #fff;

        h2 {
            font-size: 3.2rem;
            font-weight: 400;
            margin-top: 2rem;
        }

        p {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 150%;
        }

        .table_stats {

            td {
                font-size: 1.6rem;
                padding: 1rem;

                progress {
                    appearance: none;
                    min-width: calc(100% - 20rem);
                    height: 0.8rem;
                    border-radius: 10px;
                    background-color: #555555;
                    overflow: hidden;

                    &.low::-webkit-progress-value {
                        background-color: red;
                    }

                    &.low::-moz-progress-bar {
                        background-color: red;
                    }

                    &.medium::-webkit-progress-value {
                        background-color: orange;
                    }

                    &.medium::-moz-progress-bar {
                        background-color: orange;
                    }

                    &.high::-webkit-progress-value {
                        background-color: green;
                    }

                    &.high::-moz-progress-bar {
                        background-color: green;
                    }

                }

                progress::-webkit-progress-bar {
                    background-color: #555555;
                    border-radius: 10px;
                }

                progress::-webkit-progress-value {
                    border-radius: 10px;
                    transition: width 0.3s ease-in-out;
                }

                progress::-moz-progress-bar {
                    border-radius: 10px;
                }



            }
        }
    }



    @include global.media_query('lg') {
        .container_modal {
            width: 95vw;
            height: auto;
            margin-top: 14rem;
            @include global.flex($direction: column, $align: center);

            .close_modal {
                position: absolute;
                top: -13rem;
                right: 1rem;
                cursor: pointer;
            }

            .info_pokemon {
                width: 100%;
                @include global.flex($direction: column, $align: center);

                .image_pokemon {
                    width: 25.6rem;
                    height: 25.6rem;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -65%);
                }

                .container_info {
                    padding-top: 12.8rem;
                    @include global.flex($direction: column, $align: center);
                    color: #fff;

                    p {
                        font-size: 2rem;
                    }

                    h2 {
                        font-size: 3.2rem;
                    }

                    .types_pokemon {
                        @include global.flex($gap: 0.8rem, $align: center);
                        margin-top: 1rem;
                    }

                    .details_pokemon {
                        @include global.flex($gap: 2rem);
                        width: 100%;
                        margin-top: 2rem;

                        span {
                            font-size: 1.6rem;
                            font-weight: 700;
                            line-height: 150%;
                            @include global.flex($gap: 0.8rem, $align: center);
                        }
                    }

                }
            }

            .divider {
                align-self: center;
                margin-top: 4rem;
                position: relative;

                &::before,
                &::after {
                    width: 100px;
                    height: 1px;
                    top: 50%;
                    left: 36%;
                }

                &::before {
                    left: 151px;
                }

                &::after {
                    left: -95px;
                }
            }


            .pokemon_stats {
                height: auto;
                padding-bottom: 4rem;

                h2 {
                    margin-left: 1rem;
                }

                .table_stats {
                    td {
                        width: 100%;

                        progress {
                            width: 22rem;
                            height: 0.8rem;
                            border-radius: 1rem;
                            background-color: #555555;
                        }
                    }
                }
            }

        }

    }

    @include global.media_query('sm') {
        .container_modal {
            @include global.flex($direction: column);

            .progress {
                max-width: 100%;
            }
        }
    }

    @include global.media_query('375px') {
        .progress {
            max-width: 90% !important;
        }
    }

    @include global.media_query('360px') {
        .progress {
            max-width: 85% !important;
        }
    }

    @include global.media_query('320px') {
        .progress {
            max-width: 70% !important;
        }
    }
}