.btn_show_more {
    background: global.$bg-gradient;
    border: 1px solid global.$border-color;
    border-radius: 0.8rem;
    padding: 1.2rem;
    margin: 4rem auto;
    @include global.flex($align: center, $gap: 0.8rem);

    span {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 150%;
    }

}