.slider {
    margin-bottom: 15rem;

    @include global.media_query('lg') {
        margin-bottom: 2.4rem;
    }
}

.title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

.link_home {
    width: 11rem;
    height: 4.8rem;
    border: 1px solid global.$text-color;
    border-radius: 0.8rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    background: global.$bg-gradient;
    @include global.flex($align: center, $justify: center, $gap: 0.8rem);
}