.slider {
    margin-bottom: 15rem;

    @include global.media_query('lg') {
        margin-bottom: 2.4rem;
    }
}

.title {
    font-size: 2.4rem;
    margin-bottom: 1.6rem;
}

.link {
    color: #fff;
}