.badgeType {

    padding: 0.4rem 0.8rem;
    border-radius: 0.8rem;
    @include global.flex($justify: center, $align: center, $gap: 0.4rem);

    span {
        font-size: 1.6rem;
        line-height: 150%;
    }

}