.navigation {
    position: relative;
    height: 20rem;
    border-bottom: 1px solid #24293F;
    padding-top: 1rem;

    @include global.media_query('lg') {
        position: static;
        height: auto;
    }
}