.mySwiper {
    width: 50rem;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    // padding: 0 4rem 0 4rem !important;
    // padding-right: 4rem !important;
}

.swiper-button-next {

    // right: -20px !important;
}

.swiper {
    margin: 0 !important;


}

.navigation {
    position: relative !important;

    .mySwiper {
        padding: 0 40px !important; // Espaço para as setas
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: #fff; // Ajuste a cor conforme necessário
        z-index: 10; // Certifique-se de que as setas fiquem acima dos Badges
        top: 50%; // Centraliza verticalmente
        transform: translateY(-50%);
    }

    .swiper-button-next {
        right: 10px !important; // Ajuste conforme o design
    }

    .swiper-button-prev {
        left: 10px !important; // Ajuste conforme o design
    }
}

.swiper-slide {
    width: auto !important;
    padding: 1rem;
    cursor: pointer;
}

.swiper-pagination {
    display: none;
}