.card_not_found {
    @include global.flex($align: center, $justify: center, $gap: 1rem);
    border: 1px solid global.$border-color;
    border-radius: 1rem;
    padding: 1.2rem 1.6rem;

    img {
        width: 3.8rem;
        height: 3.8rem;
    }

    span {
        font-size: 1.6rem;
        font-weight: bold;

        @include global.media_query('320px') {
            font-size: 1.4rem;
        }

    }
}