$border-color: #24293F;
$border-card-modal: rgba(255, 255, 255, 0.18);
$bg-card-modal: rgba(255, 255, 255, 0.25);
$bg-gradient: linear-gradient(180deg, #151A37 0%, rgba(21, 26, 55, 0.00) 100%);
$bg-modal: rgba(0, 0, 0, 0.50);
$bg-progress: #555555;
$color-divider: #ffffff31;
$form-color: #2F5AFF;
$text-color: #FFF;
$value-progress-low: #FF3300;
$value-progress-medium: orange;
$value-progress-high: #33CC00;