@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body {
    background-color: #060B28;
    color: #fff;
}

body:has(.modal) {
    overflow-y: hidden;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden
}

main {
    padding-top: 15rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}